MULTIVARIATE REGRESSION ON IRIS DATASET

1.importing libraries

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import MinMaxScaler
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error,mean_squared_error,r2_score

2.loading dataset

In [ ]:
data=pd.read_csv('/content/Iris.csv')
data.head(15)

    Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0    1            5.1           3.5            1.4           0.2  Iris-setosa
1    2            4.9           3.0            1.4           0.2  Iris-setosa
2    3            4.7           3.2            1.3           0.2  Iris-setosa
3    4            4.6           3.1            1.5           0.2  Iris-setosa
4    5            5.0           3.6            1.4           0.2  Iris-setosa
5    6            5.4           3.9            1.7           0.4  Iris-setosa
6    7            4.6           3.4            1.4           0.3  Iris-setosa
7    8            5.0           3.4            1.5           0.2  Iris-setosa
8    9            4.4           2.9            1.4           0.2  Iris-setosa
9   10            4.9           3.1            1.5           0.1  Iris-setosa
10  11            5.4           3.7            1.5           0.2  Iris-setosa
11  12            4.8           3.4            1.6           0.2  Iris-setosa
12  13            4.8           3.0            1.4           0.1  Iris-setosa
13  14            4.3           3.0            1.1           0.1  Iris-setosa
14  15            5.8           4.0            1.2           0.2  Iris-setosa

checking whether dataset has null values or not

In [4]:
data.isnull().sum()

Id               0
SepalLengthCm    0
SepalWidthCm     0
PetalLengthCm    0
PetalWidthCm     0
Species          0
dtype: int64

In [8]:
data.shape
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             150 non-null    int64
 1   SepalLengthCm  150 non-null    float64
 2   SepalWidthCm   150 non-null    float64
 3   PetalLengthCm  150 non-null    float64
 4   PetalWidthCm   150 non-null    float64
 5   Species        150 non-null    object
dtypes: float64(4), int64(1), object(1)
memory usage: 7.2+ KB

diving the target from dataset

In [12]:
x=data.drop('Species',axis=1).values
y=data['Species'].values

In [ ]:
x,y

In [15]:
y=y.reshape(-1,1)
y.shape

(150, 1)

encoding the target variables from string to int.

In [ ]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
spiecies_trans= le.fit_transform(y)
print(y)
print(spiecies_trans)

3.splitting dataset into training and testing data

In [26]:
from sklearn.model_selection import train_test_split
train_x,test_x,train_y,test_y = train_test_split(x,spiecies_trans,test_size=0.2,random_state=0)
print(train_x.shape,train_y.shape,test_x.shape,test_y.shape)

(120, 5) (120,) (30, 5) (30,)

4.linear regression and fitting the training data

In [27]:
model=LinearRegression()
model.fit(train_x,train_y)

LinearRegression()

5.finding errors in training data

In [29]:
pred_y = model.predict(train_x)
print(f"MAE : {mean_absolute_error(train_y,pred_y)}")
print(f"MSE : {mean_squared_error(train_y,pred_y)}")
print(f"RMSE : {mean_squared_error(train_y,pred_y)**0.5}")
print(f"R_2 : {r2_score(train_y,pred_y)}")

MAE : 0.1343445110703326
MSE : 0.028663779771316334
RMSE : 0.16930380908684936
R_2 : 0.9584541088367433

6.finding errors in testing data

In [31]:
pred_y = model.predict(test_x)
print(pred_y.shape)
print(f"MAE : {mean_absolute_error(test_y,pred_y)}")
print(f"MSE : {mean_squared_error(test_y,pred_y)}")
print(f"RMSE : {mean_squared_error(test_y,pred_y)**0.5}")
print(f"R_2 : {r2_score(test_y,pred_y)}")

(30,)
MAE : 0.1412134906942989
MSE : 0.026675960619581194
RMSE : 0.1633277705094305
R_2 : 0.9504982174069627